@use "./base/_fonts.scss";
@use "./base/_variables.scss";
@use "./blocks/_header.scss";
@use "./blocks/_footer.scss";

body {
  background-color: darkblue;
}

.image {
  border: 3px solid red;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
}
