@use "./base/_normolize";
@use "./base/_fonts.scss";

// @use "./base/_mixins.scss";
// @use "./base/_media.scss";
@use "./base/_variables.scss";
// @use "./base/_utils.scss";
// @use "./base/_globals.scss";
//blocks
// @use "./blocks/_button.scss";
// @use "./blocks/_burger-button.scss";
@use "./blocks/_header.scss";
@use "./blocks/_footer.scss";
// @use "./blocks/_cross-button.scss";
// @use "./blocks/_mobile-overlay.scss";

body {
  background-color: darkblue;
}

.image {
  border: 3px solid red;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
}
