$desktop: 1280px;
$tablet: 1023px;
$mobile: 767px;

$desktop-above: 1281px; // for modile first develop
$tablet-above: 1024px; // for modile first develop
$mobile-above: 768px; // for modile first develop

@mixin desktop-media {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-media {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-media {
  @media (max-width: $mobile) {
    @content;
  }
}

// for mobile-first
@mixin desktop-media-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin tablet-media-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin mobile-media-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}
// for hover/active
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
